.App {
  text-align: center;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

body {
  background-color: rgb(0, 0, 0); /* Change background color to black */
  color: rgb(125, 7, 7);
  font-family: 'Source Code Pro', monospace;
  background-image: url('bg1.png'); /* Add your background image here */
  background-size: cover;        /* Cover the entire page */
  background-repeat: no-repeat;  /* Do not repeat the image */
  background-position: up;   /* Center the background image */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 15px;
}

.services {
  
  font-size: 25px;
}

.services span {
  margin-right: 80px;
}

.icons {
  display: flex;
}

.icons a {
  margin-right: 20px;
}

main {
  margin-top: 100px;
}

h1 {
  font-size: 65px;
  margin-bottom: 50px;
}

.colorful-text {
  /* color: #8a2be2; */
  /* background: linear-gradient(to right, #f06, #8a2be2); */
  font-family: 'Source Code Pro', monospace;
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to right, rgb(255, 255, 255), #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.new{
  margin-bottom: 80px;
}
.buttons {
  margin-top: 30px;
}
.btn{
  border: 2px solid white; 
  font-family: 'Source Code Pro', monospace
}
button {
  padding: 10px 20px;
  border: 5px white;
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 30px;
  margin: 0 10px;
}

button:hover {
  background-color: #8a2be2; 
  cursor: pointer;
}

