/* NewPage.css */

.NewPage {
    display: flex;
    height: 85vh;
  }
  
  .left-section {
    flex: 0 0 200px; /* Fixed width for the left section */
    background-color: #f0f0f043;
    padding: 20px;
    margin-bottom: 100px;
  }
  /* NewPage.css */


  .aa {
    margin-top: 400px;
    bottom: 0; /* Push the QuerySender2 button to the bottom */
  }
  .hh{
    padding: 50px;;
  }
  
  .new-chat-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-section {
    flex: 1; /* Take remaining space */
    display: flex;
    flex-direction: column;
  }
  
  .chat-history {
    flex: 1; /* Take remaining space */
    overflow-y: auto; /* Enable scrolling if content exceeds container height */
    color: white;
    padding: 20px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .text-input {
    display: flex;
    align-items: center;
    padding: 5px 10px; /* Reduced top padding */
    color: white;
  }
  
  .text-input input {
    flex:0.5 ; /* Take remaining space */
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 100px;
    background-color: #f0f0f043;
    color: white; /* Set text color to white */
}
  .fancy-text {
    font-size: 60px;
    font-weight: bold;
    color: #043971; /* Adjust color as needed */
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin-bottom: 10px; /* Add some spacing below the text */
  }
  .text-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 100px;
  }
  